*{
    margin: 0;
    padding: 0;
  }

nav {
  background: #3e2597;
  min-width: 100%;
}

.wrapper {
    height: 50px;
    display: flex;
    justify-content: space-between;
  }

.menuToggle {
  color: #fff;
  cursor: pointer;
  display: none;
}
.logo {
  font-weight: 600;
  font-size: 30px;
}
.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.contact {
  font-weight: 600;
  font-size: 24px;
}
.menu li a {
  display: flex;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
}


  

/* ---------отрисовка бургера--------- */
.hamburger {width: 40px; height: 4px; transform: translate(-50%, -50%); background: #fff; transition: 0.5s; display: inline-block; z-index: 2; position: relative;top: 15px; left: 24px;}
.hamburger:before,.hamburger:after { content: ""; width: 40px; height: 4px; position: absolute; background: #fff; transition: 0.5s;}
.hamburger:before {top: -16px;}
.hamburger:after {top: 16px;}
/* ---------отрисовка бургера---------*/


.menuToggle.active .hamburger {
  background: rgba(0, 0, 0, 0);
}

.menuToggle.active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}

.menuToggle.active .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}


@media (max-width: 640px) {
  .menuToggle {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .menu {
    display: none;
    position: absolute;
    background: #3e2597;
    width: 100%;
    top: 49px;
  }
}